body {
        font-family: 'Inter', sans-serif;
        line-height: 1.6;
        background-color: #f8f8f8;
}

.container{
        margin: 0 auto;
        max-width: 65%;
        height: 90%
        padding: 20px;
}

header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dcd7d5;
        padding: 30px;
        margin-bottom: 30px;
}

.logo {
        display: flex;
        align-items: center;
        gap: 10px;
}
.logoimg{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        background-color: #9d82f1;
        background-image: linear-gradient(to right, #9d82f1, #e5937d);
        padding: 5px;
        border-radius: 5px;
        width: 50px;
        color: white


}
.logotext{
        color: #0d0e20;
        font-weight: bold;
        font-size: 25px;
}

.logout{
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        color: #9d82f1;
        border: 1px solid #9d82f1;
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
}

.logout:hover{
        background-color: #9d82f1;
        color: white;
        transform:scale(1.1);
}

.maincontent-container {
        display: grid;
        grid-template-columns: 35% 1fr;
        gap: 2rem;
}

.sidediv{
        background-color: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px;


}
.main-content{
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.progress-container {
        margin-bottom: 40px;
}

.progress-text{
        text-align: right;
        color: grey;
}
.progress-bar {
        height: 8px;
        background-color: #ddd;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 10px;;
        overflow: hidden;

}

.progress-fill {
        height: 100%;
        background-image: linear-gradient(to right, #9d82f1, #e5937d);
        background-size: 100% 8px;
        width: 0%;
        transition: width 0.5s ease;
}

.step {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        border-bottom: 1px solid #dcd7d5;
}

.step-number {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #9d82f1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 600;
        font-size: 16px;
        padding: 5px;
}

.step-text{
        font-size: 18px;
        font-weight: 500;
        color: #0d0e20;
}

.vacancy-selection {
        display: flex;
        flex-direction: column;
        gap: 20px;
}

.vacancy-select {
        padding: 12px 16px;
        border: 1px solid #dcd7d5;
        border-radius: 8px;
        font-size: 1rem;
        width: 100%;
}
.vacancy-select:focus {
        outline: none;
        border-color: #7546e8;
}

.vacancy-info{
        margin-bottom: 20px;
}

option{
        color: #0d0e20;
        font-size: 14px;
}

.start-interview-btn {
        color: #9d82f1;
        border: 2px solid #9d82f1;
        background: transparent;
        border-radius: 8px;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        align-self: flex-start;
}

.start-interview-btn:hover {
        transform: translateY(-2px);
        background-color: #9d82f1;
        color: white;
}
.start-interview-btn:disabled {
        background-color: #ddd;
        transform: none;
        border: #dcd7d5;
        color: grey;
        box-shadow: 0 0 0 3px transparent;
}

.question-container{
        opacity:0;
        transition: opacity 1s ease;
        display: none;
}

.question-card {
        padding: 20px;
        margin-bottom: 20px;
}

.progress-questions{
        border-radius: 20px;
        width: 18%;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #9d82f1;
        padding: 5px;
        border: 2px solid #9d82f1;
}

textarea{
        border: 2px solid #9d82f1;
        resize: none;
        width: 100%;
        height: 220px;
        border-radius: 8px;
        outline:none;
        padding: 5px;
        font-size: 16px;

}

textarea: focus{
        border: 2px solid #e5937d;
        outline:none;
}

.btn{
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        color: #9d82f1;
        border: 2px solid #9d82f1;
        padding: 8px 20px;;
        border-radius: 8px;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
}

.button{
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        color: #9d82f1;
        border: 2px solid #9d82f1;
        padding: 8px 20px;;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
}

.button:hover{
        transform: translateY(-2px);
        background-color:#9d82f1;
        color: white;
}

.button:disabled{
        background-color: #ddd;
        transform: none;
        border: #dcd7d5;
        color: grey;
}



.btn:hover{
        background-color: #9d82f1;
        color: white;
        transform:scale(1.1);
}


.navigation-buttons{
        justify-content: right;
        display: flex;
        width: 97%;
        margin: 0 auto;
        padding: 10px;
        gap: 20px;
}
.question-text{
        color:#0d0e20;
        font-size: 18px;
        padding: 10px;
        margin-bottom: 10px;

}




