{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'employee/css/style.css' %}" />
    <title>form</title>
</head>
<body>
<form method="post">
{% csrf_token %}
{{form.title}}
{{form.description}}
{{form.requirements}}
{{form.responsibilities}}
{{form.conditions}}
<button type ="submit">Добавить</button> 
</form>


<script>
const vacancies = {{ vacancies_json|safe }};
</script>

</body>
</html>