body {
font-family: Arial, sans-serif;
background: linear-gradient(130deg, #e0c3fc, #8ec5fc, #e5937d);
margin: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
    }
.container {
background-color: #f8f8f8;
border-radius: 20px;
width: 80%;
height: 90vh;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
display: flex;
}
.sidebar {
width: 12%;
padding: 25px;
background-color: white;
border-radius: 15px;
margin-right: 30px;
}

.logo {
display: flex;
align-items: center;
gap: 10px;
height:15%;
}
.logoimg{
text-align: center;
font-weight: bold;
font-size: 30px;
background-color: #9d82f1;
background-image: linear-gradient(to right, #9d82f1, #e5937d);
padding: 5px;
border-radius: 5px;
width: 40px;
color: white


}
.logotext{
color: #2d3748;
font-weight: bold;
font-size: 25px;
}
.sidebar h3 {
margin: 0 0 30px;
margin-top: 30px;
color: #9d82f1;
font-size: 23px;
}
.sidebar ul {
list-style: none;
padding: 0;
}
.sidebar ul li {
margin-bottom: 20px;
color: #4a5568;
font-size: 20px;
cursor: pointer;
}
.sidebar ul li:hover {
color: #9d82f1;
}
.main-content {
flex-grow: 1;
margin-right: 30px;
margin-top: 50px;
margin-bottom: 20px;
overflow: auto;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}
.header h2 {
color: #2d3748;
margin: 0;
font-size: 30px;
}
.header p {
color: #718096;
margin: 5px 0 0;
font-size: 18px;
}

.logout {
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
color: #9d82f1;
border: 1px solid #9d82f1;
padding: 12px 24px;
border-radius: 8px;
font-size: 16px;
font-weight: 600;
margin-right: 1rem;
}

.logout:hover{
background-color: #9d82f1;
color: white;
transform:scale(1.1);
}
.cards {
display: flex;
gap: 20px;
margin-bottom: 30px;
margin-top: 50px;
}

.stat {
display: flex;
flex-direction: column;
gap: 20px;
width: 40%;
background-color: white;
border-radius: 15px;
padding: 20px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.stat .card{
background-image: linear-gradient(to right, #9d82f1, #e5937d);
padding: 25px;
}

.card {
background-color: white;
padding: 20px;
border-radius: 15px;
color: white;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-content {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.card-text {
display: flex;
flex-direction: column;
font-size: 20px;
}

.card-text span {
font-size: 30px;
margin-top: 5px;
font-weight: 600;
}

.card svg {
width: 40px;
height: 40px;
}
.progress {
background-color: white;
padding: 20px;
border-radius: 15px;
text-align: center;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
width: 20%;
}
.progress p {
margin: 0;
font-size: 20px;
color: #2d3748;
font-weight: 600;
text-align: left;
}
.progress .percentage {
font-size: 2.5em;
margin: 10px 0;
color: #9d82f1;

}
.activities{
background-color: white;
padding: 20px;
border-radius: 15px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.activities h3{
margin: 0 0 15px;
color: #2d3748;
font-size: 1.2em;
}
.activities p {
margin: 10px 0;
color: #4a5568;
}
.activities p span {
color: #718096;
margin-left: 10px;
}

.progress-container {
display: inline-block;
position: relative;
}
.progress-text {
user-select: none;
color: #2d3748;
}
.progress-fill {
transform: rotate(-90deg);
transform-origin: 50% 50%;
}

.form-container {
max-width: 70%;
margin: 0 auto;
background: white;
padding: 30px;
border-radius: 20px;
box-shadow: 0 0 20px rgba(0,0,0,0.1);
margin-bottom: 2rem;
        }
.form-group {
margin-bottom: 25px;
}

label {
display: block;
margin-bottom: 15px;
font-weight: bold;
color: #2d3748;
}

input[type="text"], textarea {
width: 100%;
padding: 12px;
border: 2px solid #9d82f1;
border-radius: 8px;
outline:none;
font-size: 16px;
box-sizing: border-box;
}

textarea {
min-height: 200px;
resize: none;
width: 100%;

padding: 5px;
font-size: 16px;
margin-bottom: 10px;
}

.submit-btn {
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
color: white;
background-color:#9d82f1;
border: 2px solid #9d82f1;
padding: 8px 20px;;
border-radius: 8px;
font-size: 20px;
font-weight: 500;
text-align: center;
cursor: pointer;
}

.submit-btn:hover {
transform: translateY(-2px);
background-color:#9d82f1;
color: white;
}

.reset{
color: #9d82f1;
border: 2px solid #9d82f1;
background: transparent;
border-radius: 8px;
padding: 12px 24px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
transition: all 0.3s ease;
align-self: flex-start;
}

.reset:hover{
transform: translateY(-2px);
background-color: #9d82f1;
color: white;
}

.search-bar{
display: flex;
flex-direction: row;
margin-right: 2rem;
margin-top: 1rem;
}
.search-bar input[type = "text"]{
width: 100%;
}
.search{
color: #9d82f1;
border: 2px solid #9d82f1;
background: transparent;
border-radius: 8px;
padding: 12px 24px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
transition: all 0.3s ease;
margin-left: 1rem;
}

.search:hover{
transform: translateY(-2px);
background-color: #9d82f1;
color: white;
}

.vacancies, .reports {
display: none;
padding: 20px;
opacity: 0;
transition: opacity 0.3s;
}

.search-bar {
display: flex;
margin-bottom: 20px;
gap: 10px;
}

.vacancies-list, .report-list{
display: flex;
flex-direction: column;
gap: 15px;
}

.vacancy-item, .report-item{
background: white;
border-radius: 20px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
overflow: hidden;
}

.vacancy-header, .report-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
cursor: pointer;
border-bottom: 1px solid #eee;
}

.vacancy-title, .report-user, .report-num{
font-weight: 600;
font-size: 18px;
color: #2d3748;
}

.vacancy-stats, .report-stats {
display: flex;
align-items: center;
gap: 15px;
}

.interview-count, .interview-per {
background: #ddd;
color: grey;
padding: 5px 10px;
border-radius: 20px;
font-size: 16px;
}

.vacancy-toggle {
position: relative;
width: 50px;
height: 24px;
}

.vacancy-toggle input {
opacity: 0;
width: 0;
height: 0;
}

.toggle-slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
border-radius: 24px;
}

.toggle-slider:before {
position: absolute;
content: "";
height: 16px;
width: 16px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
border-radius: 50%;
}

input:checked + .toggle-slider {
background-color: #9d82f1;
}

input:checked + .toggle-slider:before {
transform: translateX(26px);
}

.vacancy-content, .report-content {
padding: 0 20px;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
}

.vacancy-content.expanded, .report-content.expanded {
padding: 20px;
max-height: 4000px;
}

.vacancy-section, .report-section {
margin-bottom: 15px;
}

.vacancy-section h4, .report-section h4  {
margin-bottom: 8px;
color: #2d3748;
font-weight: 700;
}

.vacancy-section-content, .report-section-content{
padding: 12px;
}

.vacancy-actions {
display: flex;
gap: 10px;
margin-top: 20px;
padding-top: 15px;
border-top: 1px solid #eee;
}

.action-btn {
padding: 8px 15px;
border-radius: 8px;
border: none;
cursor: pointer;
font-weight: 600;
transition: background 0.2s;
}

.edit-btn {
background: #e0e7ff;
color: #4f46e5;
}

.edit-btn:hover {
background: #c7d2fe;
}

.delete-btn {
background: #fee2e2;
color: #dc2626;
}

.delete-btn:hover {
background: #fecaca;
}

.report-btn {
background: #d1fae5;
color: #059669;
}

.report-btn:hover {
background: #a7f3d0;
}

.report-main{
display: flex;
flex-direction: row;
gap: 10px;
}